<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3.4.9/dist/vue.global.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="userGoalInput" @keyup.enter="addGoal" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <!-- V-ELSE só pode ser usado em elementos que são diretamente posteriores ao elemento em que V-IF está sendo utilizado -->
      <div v-else="goals.length > 0">
        <ul>
          <!-- A diferença entre v-show e v-if é que o v-if realmente remove/adiciona elementos no DOM, já o v-show só muda o CSS (display: none) -->
          <!-- <ul v-show="goals.length > 0"> -->
          <!-- <li v-for="(goal, index) in goals">{{ goal }},{{index}}</li> -->
          <li v-for="goal in goals">{{ goal }}</li>
          <!-- Iterar em objetos -->
          <!-- <li v-for="value in {name: 'Bia', age: 23}">{{ value }}</li> -->
        </ul>
        <button @click="clearGoal">Reset</button>
      </div>
    </section>
  </body>
</html>
